version: 2

jobs:
  build:
    working_directory: ~/island-troll-tribes

    docker:
      - image: frotty/wurstscript

    steps:
      - checkout

      - run:
          name: Update Wurst
          command: grill install wurstscript

      - run:
          name: Install Dependencies
          command: grill install

      - run:
          name: Test
          command: grill test
